$background: #3c1249;
$menu: #a1e619;
$footerAndDropdown-menu: #669900;
$primary-font: #ffffff;
$secondary-font: #000000;

body {
  color: white;
  background: $background;
  margin-top: 20px;
}

header {
  font-size: 10px;
}

nav {
  background-color: $menu;
}

.choose-cinema {
  font-size: 20px;
}

.schedule {
  font-size: 2rem;
}

.buy-ticket {
  background-color: #9d4fb5;

  &:hover {
    background-color: #6e3c7d;
  }

  &:active {
    background-color: #d1addb;
  }
}

nav {
  a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: x-large;

    :hover {
      color: white;
    }
  }
}

div {
  label {
    font-size: x-large;
    font-weight: 400;
  }
}

aside {
  p {
    background-color: #1f0924;
    box-shadow: 0 0 20px 10px #1f0924;
    border-radius: 35px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}



.pt-inner {
  text-align: center;
}

.tile {
  background-color: #fff;
  margin-bottom: 30px;
  position: relative;
}

.tile {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
}

.pt-inner .pti-header {
  padding: 45px 10px 70px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
}

.bg-first {
  background-color: $menu !important;
}

.bg-second {
  background-color: #6c941c !important;
}

.bg-third {
  background-color: #49660f !important;
}

.pt-inner .pti-header>h2 {
  margin: 0;
  line-height: 100%;
  color: #fff;
  font-weight: 100;
  font-size: 50px;
}

.pt-inner .pti-header>h2 small {
  color: #fff;
  letter-spacing: 0;
  vertical-align: top;
  font-size: 16px;
  font-weight: 100;
}

.pt-inner .pti-header .ptih-title {
  background-color: rgba(0, 0, 0, .1);
  padding: 8px 10px 9px;
  margin: 0 -10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.pti-body {
  color: black;
}

.pt-inner .pti-header .ptih-title {
  text-transform: uppercase;
}

.pt-inner .pti-body {
  padding: 0 23px;
}

.pt-inner .pti-body .ptib-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.pt-inner .pti-body .ptib-item {
  padding: 15px 0;
  font-weight: 400;
}

.pt-inner .pti-footer {
  padding: 10px 20px 30px;
}

.pt-inner .pti-footer>a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 60px;
  font-size: 30px;
}

.booking {

  background-color: $background;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Lato', sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}


footer {
  position: static;
  margin-top: 20px;
  background-color: #a1e619;
}