<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="authors"
      content="Jakub Sierant, Kacper Sierant, Kamil Wojtek"
    />
    <meta
      name="keywords"
      content="kino, orzeł, orzel, filmy, seans, njalepsze, bilety"
    />
    <title>Kino Orzeł</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="scss/style.css" />
  </head>

  <body>

    <header class="row">

      <h1 class="col-sm d-block p-5">KINO ORZEŁ</h1>
      <div class="col-sm text-end"><img
          src="img/logo/kononowicz.jpg"
          alt="Logo"
        /></div>

    </header>

    <nav class="row">
      <div class="col-sm text-center pt-4 pb-3"><a href="#">REPERTUAR</a></div>
      <div class="col-sm text-center pt-4 pb-3"><a href="#">OFERTA</a></div>
      <div class="col-sm text-center pt-4 pb-3"><a href="#">CENNIK</a></div>
      <div class="col-sm text-center pt-4 pb-3"><a href="#">KONTAKT</a></div>
    </nav>

    {{{body}}}

    <footer class="p-3 w-100">
      <p class="text-center">Copyrightⓒ 2022</p>
    </footer>

  </body>

</html>