<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="authors"
      content="Jakub Sierant, Kacper Sierant, Kamil Wojtek"
    />
    <meta
      name="keywords"
      content="kino, orzeł, orzel, filmy, seans, njalepsze, bilety"
    />
    <title>Kino Orzeł</title>

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="p-3 bg-primary text-white text-center">
      <p>Kino orzeł</p>
    </header>
    {{{body}}}

    <script src="../../node_modules/po"></script>
  </body>
</html>