<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<form>
							<div class="row no-margin">
								<div class="col-sm-12">
									<div class="form-group">
										<div class="form-group">
								<span class="form-label">Wybierz Kino</span>
								<select class="form-control" required>
									<option value="" selected hidden>Wybierz kino</option>
									<option value="zabrze">Zabrze</option>
									<option value="gliwice">Gliwice</option>
									<option value="bydgoszcz">Bydgoszcz</option>
								</select>
								<span class="select-arrow"></span>
							</div>
									</div>
								</div>
							</div>
							<div class="row no-margin">
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Wybierz</span>
										<span class="form-label">Datę</span>
										<input class="form-control" type="date" required>
										
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Wybierz czas</span>
										<input class="form-control" type="time" required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<span class="form-label">Wybierz salę</span>
								<select class="form-control" required>
									<option value="" selected hidden>Wybierz salę</option>
									<option value="pierwsza">Pierwsza</option>
									<option value="druga">Druga</option>
									<option value="trzecia">Trzecia</option>
								</select>
								<span class="select-arrow"></span>
							</div>
 <div class="movie-container">
      <label>Wybierz Film:</label>
      <select id="movie">
        <option value="19">Ninjesus</option>
        <option value="19">JewJitsu</option>
        <option value="19">Kung Fuhrer</option>
        <option value="19">Magnaci i Czarodzieje</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Wolne</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Wybrane</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Zajęte</small>
      </li>
    </ul>

    <div class="container ">
      <div class="screen"></div>

      <div class="row d-flex justify-content-center">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat "></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat "></div>
        <div class="seat "></div>
        <div class="seat "></div>
        <div class="seat"></div>
      </div>
    </div>

    <p class="text d-flex justify-content-center">
      Wybrałeś <span id="count">0</span> miejsc, które kosztują <span
        id="total"
        >0</span
      >
      <span>zł</span>
    </p>


							{{!-- <div class="form-btn">
								<button class="submit-btn">Book Now</button>
							</div> --}}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
        <script src="js/script.js"></script>