<main class="container-fluid p-0">

  {{! Slider }}
  <div
    id="carouselExampleControls"
    class="carousel slide w-100"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="img/posters/to-nie-wypandaa.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="img/posters/doktor-strange.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="img/posters/my-singing-monsters.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row p-10">
    <div class="col"><h2>REPERTUAR</h2></div>
    <div class="col text-center"><input
        type="date"
        name="date"
        id="datePicker"
        value=""
      /></div>
    <div class="col text-end">
      <label for="cinema">Wybierz kino: </label>
      <select id="cinema">
        <option value="gliwice">Gliwice</option>
        <option value="zabrze">Zabrze</option>
        <option value="bydgoszcz">Bydgoszcz</option>
      </select>
    </div>
  </div>

  <div class="container-fluid mb-20" id="schedule-container">
    {{! <section class="row pb-5">
      <div class="col-2 poster">
        <a href="#">
          <img class="w-100" src="img/posters/jewjitsu.jpg" alt="Logo" />
        </a>
      </div>
      <div class="col info">
        <h3>Jew-Jitsu</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis
          impedit ipsum odio explicabo fugit tempora, omnis inventore quis
          possimus adipisci, illo voluptatibus quidem vel magni itaque ipsam
          maxime harum sit. Laudantium amet dicta dignissimos voluptate nam.</p>
      </div>
      <div class="col schedule">
        <div class="border rounded text-center mb-3">11:00</div>
        <form action="/buy-ticket?movie=jew-jitsu&date=date"></form>
        <button type="submit" class="btn buy-ticket">KUP BILET</button>
      </div>
    </section> }}

  </div>

</main>
<script src="js/main.js"></script>
<script src="js/schedule.js"></script>