<main class="container">
  <div class="row">
    <div class="col ">
      <div class=" choose-cinema">
        <label for="cinema">WYBIERZ KINO: </label>
        <select name="cinema" id="cinema">
          <option value="gliwice">Gliwice</option>
          <option value="zabrze">Zabrze</option>
          <option value="bydgoszcz">Bydgoszcz</option>
        </select>
      </div>
    </div>
  </div>

</main>
