<main class="container">
  <div class="row pt-5">
    <div class="col">
      <h2>REPERTUAR</h2>
    </div>
    <div class="col">
      <div class="float-end choose-cinema">
        <label for="cinema">WYBIERZ KINO: </label>
        <select name="cinema" id="cinema">
          <option value="gliwice">Gliwice</option>
          <option value="zabrze">Zabrze</option>
          <option value="bydgoszcz">Bydgoszcz</option>
        </select>
      </div>
    </div>
  </div>

</main>
