<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootstrap snippets bootdey mt-5 mb-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-first">
                    <h2>Oferta dla szkół</h2>
                    <div class="ptih-title">Minimum 25 osób</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                        Pojedynczy bilet - 14.99zł
                    </div>
                    <div class="ptib-item">
                        Brak popcornu w zestawie
                    </div>
                    <div class="ptib-item">
                        Okulary 3D jeżeli film jest w 3D
                    </div>
                    <div class="ptib-item">
                        Sala kinowa specjalna dla szkół
                    </div>
                    <div class="ptib-item">
                        Jeżeli dzieci bedą niegrzeczne to dostaną klapsa
                    </div>
                </div>
        
                <div class="pti-footer">
                    <a href="" class="bg-first"><i class="fa-solid fa-graduation-cap"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-second">
                    <h2>Oferta dla rodzin</h2>
                    <div class="ptih-title">Od 4 do 6 osób</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                        Pojedynczy bilet - 16.99zł
                    </div>
                    <div class="ptib-item">
                        Mały popcorn w zestawie
                    </div>
                    <div class="ptib-item">
                        Brak okularów 3D 
                    </div>
                    <div class="ptib-item">
                        Sala kinowa specjalna dla rodzin (podzielona na rzędy po 6 miejsc)
                    </div>
                    <div class="ptib-item">
                        Możliwość rozpalenia grilla
                    </div>
                </div>
        
                <div class="pti-footer">
                     <a href="" class="bg-third"><i class="fa-solid fa-people-group"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-third">
                    <h2>Oferta dla firm</h2>
                    <div class="ptih-title">Własna reklama przed włączeniem filmu</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                        100 zł za każdą reklamę puszczoną przed filmem w ciągu całego dnia
                    </div>
                    <div class="ptib-item">
                        Format reklamy to zdjęcie lub film
                    </div>
                    <div class="ptib-item">
                        Rozmiar zdjęcia - 2137x1080 
                    </div>
                    <div class="ptib-item">
                        Max długość filmu - 2 minuty
                    </div>
                    <div class="ptib-item">
                        nic tu nie ma noobku
                    </div>
                </div>
        
                <div class="pti-footer">
                    <a href="" class="bg-third"><i class="fa-solid fa-briefcase"></i></a>
                </div>
            </div>
        </div>        
	</div>
</div>