<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container bootstrap snippets bootdey mt-5 mb-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-first">
                    <h2>18.99zł <small>| os</small></h2>
                    <div class="ptih-title">Normalny bilet</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                        Do wyboru każde siedzenie, które nie jest siedzeniem VIP
                    </div>
                    <div class="ptib-item">
                        Mały popcorn w zestawie
                    </div>
                    <div class="ptib-item">
                        Brak okularów 3D
                    </div>
                    <div class="ptib-item">
                        Mniejsza sala kinowa
                    </div>
                    <div class="ptib-item">
                        Brak możliwości spożywania alkoholu
                    </div>
                </div>
        
                <div class="pti-footer">
                    <a href="" class="bg-first"><i class="fa-solid fa-coins"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-second">
                    <h2>21.37zł <small>| os</small></h2>
                    <div class="ptih-title">Bilet VIP</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                        Do wyboru każde siedzenie VIP
                    </div>
                    <div class="ptib-item">
                        Średni popcorn w zestawie
                    </div>
                    <div class="ptib-item">
                        Okulary 3D 
                    </div>
                    <div class="ptib-item">
                        Większe sale kinowe
                    </div>
                    <div class="ptib-item">
                        Możliwość spożywania alkoholu, którego moc nie przekracza 40%
                    </div>
                </div>
        
                <div class="pti-footer">
                    <a href="" class="bg-second"><i class="fa-solid fa-coins"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile pt-inner">
                <div class="pti-header bg-third">
                    <h2>420.00zł <small>| yr</small></h2>
                    <div class="ptih-title">Giga niger karnet</div>
                </div>
        
                <div class="pti-body">
                    <div class="ptib-item">
                        Możliwość przyjścia na każdy seans oraz wybrania dowolnego miejsca
                    </div>
                    <div class="ptib-item">
                        Brak popcornu w zestawie
                    </div>
                    <div class="ptib-item">
                        Okulary 3D
                    </div>
                    <div class="ptib-item">
                        Dowolna sala
                    </div>
                    <div class="ptib-item">
                        Pijesz tyle ile masz
                    </div>
                </div>
        
                <div class="pti-footer">
                    <a href="" class="bg-third"><i class="fa-solid fa-coins"></i></a>
                </div>
            </div>
        </div>        
	</div>
</div>